.box{
    background-color: brown;
    color: whitesmoke;
    height: 10rem;
    width: 15rem;
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}