.box{
    background-color: brown;
    color: whitesmoke;
    height: 25rem;
    width: 30rem;
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

img{
    height: 15rem;
    width: 20rem;
}